/* ----------------------------------------------------------------------------
 * Font faces - defined in base.html for correct path resolution
 * ------------------------------------------------------------------------- */

// /*
//  * Icon font
//  */
// @font-face {
// 	font-family: 'Icon';
// 	src: url('/assets/fonts/icon.eot?52m981');
// 	src: url('/assets/fonts/icon.eot?#iefix52m981') format('embedded-opentype'),
// 		   url('/assets/fonts/icon.woff?52m981') format('woff'),
// 		   url('/assets/fonts/icon.ttf?52m981') format('truetype'),
// 		   url('/assets/fonts/icon.svg?52m981#icon') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

/* ----------------------------------------------------------------------------
 * Representational classes
 * ------------------------------------------------------------------------- */

/*
 * Base icon class
 */
.icon {
	font-family: 'Icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
 * Magnifying glass
 */
.icon-search:before {
	content: "\e600";
}

/*
 * Back arrow
 */
.icon-back:before {
	content: "\e601";
}

/*
 * Link indicator
 */
.icon-link:before {
	content: "\e602";
}

/*
 * Close button
 */
.icon-close:before {
	content: "\e603";
}

/*
 * Hamburger icon
 */
.icon-menu:before {
	content: "\e604";
}

/*
 * Forward arrow
 */
.icon-forward:before {
	content: "\e605";
}

/*
 * Twitter icon
 */
.icon-twitter:before {
	content: "\e606";
}

/*
 * GitHub icon
 */
.icon-github:before {
	content: "\e607";
}

/*
 * Download icon
 */
.icon-download:before {
	content: "\e608";
}

/*
 * Star icon
 */
.icon-star:before {
	content: "\e609";
}

/*
 * Warning icon
 */
.icon-warning:before {
	content: "\e610";
}

/*
 * Star icon
 */
.icon-note:before {
	content: "\e611";
}