

/* ----------------------------------------------------------------------------
 * Base typography
 * ------------------------------------------------------------------------- */

/*
 * Default font styles
 */
body, input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;

  /* Enable font-smoothing in Webkit and FF */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
   * Use system fonts, if browser doesn't support webfonts
   */
  .no-fontface & {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

/*
 * Proportional fonts
 */
pre, code {
  font-family: 'Courier New', 'Courier', monospace;

  /*
   * Use system fonts, if browser doesn't support webfonts
   */
  .no-fontface & {
    font-family: 'Courier New', 'Courier', monospace;
  }
}